@use "../variables.scss" as *;

.features-description {
  background: var(--color-primary);
  padding: 1rem 2rem;
  margin-top: 1rem;
  &__title {
    margin-bottom: 0.5rem;
    list-style: none;
  }
  &__text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  &__itemes {
    font-size: 14px;
    margin-bottom: 2rem;
  }
  &__advantages1 {
    list-style: none;
  }
  @media (max-width: 767px) and (orientation: landscape){
    
  }
  @media (min-width: $bp-tablet){
    margin-top: 1.5rem;
    &__text1 {
      font-size: 16px;
    }
    &__itemes1 {
      font-size: 16px;
    }
  }
  @media (min-width: $bp-desktop){
    margin-top: 2rem;
  }
}