@use "../variables.scss" as *;

.reviews {
  background: var(--color-primary);
  padding-bottom: 1rem ;
  &__wrapper {
    margin: 1rem 2rem 1rem 2rem;


    position: relative; //Сделал для стрелок в десктопе
  }
  &__title {
    padding: 0.5rem 0;
  }
  &__carusel {
    overflow: hidden;
    margin: 0 -2rem;
    padding: 0;
  }
  &__container {
    display: flex;
    will-change: transform; // для производительности
  }
  &__slide {
    position: relative;
    flex: 0 0 80%; // ширина слайда
    padding: 0 0.6rem;
    box-sizing: border-box;
  }
  @media (max-width: 767px) and (orientation: landscape){
    &__slide {
      flex: 0 0 40%;
    }
  }
  @media (min-width: $bp-tablet){
    margin-top: 1.5rem;
    &__slide {
      flex: 0 0 40%; // ширина слайда
    }
  }
  @media (min-width: $bp-desktop){
    margin-top: 2rem;
  }
}