@use "../variables.scss" as *;

.order-button {
  background: var(--color-button-action);
  width: 12rem;
  height: 2.5rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text-button);
  border: 0.5px solid var(--color-text-button);
  margin-top: 0.5rem;
}