@use "../variables.scss" as *;

.order-button {
  // background: var(--color-button-action);
  // width: 12rem;
  // height: 2.5rem;
  // border-radius: 8px;
  // font-weight: 700;
  // font-size: 14px;
  // color: var(--color-text-button);
  // border: 0.5px solid var(--color-text-button);
  margin-top: 0.5rem;

  width: 100%;
  max-width: 500px;
  padding: 14px;
  background: linear-gradient(135deg, #67A799, #174142);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    background: linear-gradient(135deg, #174142, #67A799);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(103, 167, 153, 0.3);
  }
}