/*  ./tailwind.css */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-main text-color-text bg-colorBg;
  }
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  a {
    @apply no-underline text-inherit;
  }

  img {
    @apply block max-w-full;
  }

  button {
    @apply cursor-pointer bg-transparent border-none;
    font: inherit;
  }
}