:root {
  --color-primary: #EAF6F3; /* Мятный */
  --color-button-action: #F3E0E2;
  --color-text-button: #174142;
  --color-accent: #f8f8f8;
  --color-icons: #67A799;
  --font-main: 'Inter', sans-serif;
  --max-width: 1200px;
  --radius: 12px;
  $bp-tablet: 768px;
  $bp-desktop: 1280px;
}

$bp-tablet: 768px;
$bp-desktop: 1024px;
